.board {
  width: 100%;
  max-width: 1200px;
  box-shadow: 0px 10px 15px -3px rgba(0, 0, 0, 0.1);
  margin: 0 auto;
  padding-top: 20px;
  display: flex;
  position: relative;
}

@media (min-width: 320px) and (max-width: 767px) {
  .board {
    flex-direction: column;
    padding-top: 0;
  }
}
