.weatherHubWeekForecast {
  padding-top: 20px;
  padding-bottom: 40px;
  font-size: 12px;
  &__title {
    margin-bottom: 20px;
    font-weight: 700;
  }
  &__list {
    list-style: none;
    display: flex;
    align-items: center;
    gap: 40px;
    margin: 0;
    padding: 0;
  }
  &__item {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  &__date {
    margin-bottom: 12px;
    font-size: 12px;
  }
  &__degr {
    color: lightslategrey;
  }
  &__icon {
    width: 40px;
    margin-bottom: 10px;
  }
  &__maxmin {
    font-size: 12px;
    display: flex;
  }
}

@media (min-width: 320px) and (max-width: 767px) {
  .weatherHubWeekForecast {
    padding-top: 0px;
    padding-bottom: 10px;
    font-size: 10px;
    max-width: 100%;
    &__title {
      margin-bottom: 8px;
    }
    &__list {
      display: flex;
      gap: 0 2px;
      justify-content: space-between;
    }
    &__item {
      height: 100%;
    }
    &__date {
      margin-bottom: 10px;
      font-size: 8px;
    }

    &__icon {
      width: 32px;
      height: 32px;
      margin-bottom: 10px;
    }
    &__maxmin {
      font-size: 8px;
    }
  }
}
