.weatherHubWeekForecast {
  padding-top: 20px;
  padding-bottom: 40px;
  font-size: 12px;
  &__title {
    margin-bottom: 20px;
    font-weight: 700;
  }
  &__list {
    list-style: none;
    display: flex;
    align-items: center;
    gap: 40px;
    margin: 0;
    padding: 0;
  }
  &__item {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  &__date {
    margin-bottom: 12px;
    font-size: 12px;
  }
  &__degr {
    color: lightslategrey;
  }
  &__icon {
    width: 40px;
    margin-bottom: 10px;
  }
  &__maxmin {
    font-size: 12px;
    display: flex;
  }
}
