h1,
h2,
h3,
h4,
p {
  margin-top: 0;
  margin-bottom: 0;
  font-weight: 400;
}

.list {
  list-style: none;
  padding: 0;
  margin: 0;
}

a {
  display: block;
  text-decoration: none;
  color: inherit;
  cursor: pointer;
}

img {
  display: block;
  max-width: 100%;
}

.centered {
  text-align: center;
}

button {
  cursor: pointer;
}

.visually-hidden {
  position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
}
