// $primary-color: #f1cdb3;
$dark-text-color: #cdcdcd;
$dark-text-color: #000000;
// $dark-text-color-labels: #292929;
// $dark-text-color-titles: #545454;
// $dark-text-color-p: #4c4c4c;
// $dark-text-color-info: #b2b2b2;

$primary-font: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
$secondary-font: Arial, Helvetica, sans-serif;
