@import './reset';
@import './breakpoints.scss';
@import './variables.scss';

body {
  font-size: 18px;
  font-family: $primary-font;
  font-size: 15px;
  line-height: 1.6;
  font-weight: 400;
  color: $dark-text-color;
}
