.weatherHubTripItemCard {
  width: 160px;
  margin-bottom: 20px;
  cursor: pointer;
  border: 1px solid #ccc;
  border-radius: 5px;
  height: 210px;
  &__top {
    width: 100%;
    height: 70%;
    overflow: hidden;
  }
  &__image {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  &__bottom {
    padding: 10px;
  }

  &__title {
    font-size: 12px;
    margin-bottom: 5px;
  }

  &__text {
    font-size: 10px;
    color: #666;
  }
}

@media (min-width: 320px) and (max-width: 767px) {
  .weatherHubTripItemCard {
    height: 160px;
    margin-bottom: 10px;
    padding-bottom: 10px;
    &__title {
      font-size: 10px;
      margin-bottom: 2px;
    }

    &__text {
      font-size: 8px;
    }
    &__top {
      width: 100%;
      height: 70%;
      overflow: hidden;
    }
    &__image {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }

    &__bottom {
      padding: 6px;
      font-size: 6px;
    }
  }
}
@media (min-width: 768px) and (max-width: 1199px) {
  .weatherHubTripItemCard {
    // width: 33%;
    padding-bottom: 10px;

    &__title {
      margin-bottom: 2px;
    }
  }
}
