.dailyPanelToday {
  color: white;
  margin: 0 auto;
  text-align: center;
  margin-bottom: 100px;
  &__forecast {
    display: flex;
    gap: 18px;
    align-items: center;
    justify-content: center;
    margin-bottom: 20px;
  }
  &__day {
    font-size: 36px;
    font-weight: 700;
    margin-bottom: 20px;
  }
  &__degr {
    font-size: 66px;
  }
  &__city {
    font-size: 26px;
  }
  &__sup {
    font-size: 28px;
    z-index: 1;
  }
  &__img {
    width: 100px;
    margin-right: 20px;
  }
}

@media (min-width: 320px) and (max-width: 767px) {
  .dailyPanelToday {
    margin-bottom: 30px;
    &__forecast {
      margin-bottom: 10px;
    }
    &__day {
      font-size: 34px;
      margin-bottom: 0px;
      letter-spacing: 5px;
    }
    &__degr {
      font-size: 66px;
    }
    &__city {
      font-size: 30px;
      letter-spacing: 5px;
    }
  }
}
@media (min-width: 768px) and (max-width: 1199px) {
  .dailyPanelToday {
    &__forecast {
      gap: 0;
    }
  }
}
