.weatherHub {
  // outline: 2px solid salmon;
  width: 65%;
  padding-top: 20px;
  &__title {
    margin-bottom: 30px;
  }
  &__wrap {
    display: flex;
    align-items: baseline;
    gap: 0 20px;
  }
  &__btns {
    display: flex;
    gap: 0 8px;
  }
  &__btndwn {
    outline: 1px solid lavenderblush;
    border: none;
    border-radius: 5px;
    padding: 10px;
    background-color: linen;
    color: inherit;
  }
  &__btnup {
    outline: 1px solid lavenderblush;
    border: none;
    border-radius: 5px;
    padding: 10px;
    background-color: lavenderblush;
    color: inherit;
  }
}

@media (min-width: 320px) and (max-width: 767px) {
  .weatherHub {
    width: 100%;
    &__title {
      margin-bottom: 10px;
    }
    &__wrap {
      align-items: flex-start;
      gap: 0 10px;
    }
    &__btns {
      gap: 10px;
      font-size: 12px;
    }
    &__btndwn {
      padding: 4px;
      width: 40px;
      height: 40px;
    }
    &__btnup {
      padding: 4px;
      width: 40px;
      height: 40px;
    }
  }
}
