@import './../../styles/breakpoints';
.weatherHub {
  // outline: 2px solid salmon;
  width: 65%;
  padding-top: 20px;
  &__title {
    margin-bottom: 30px;
  }
  &__wrap {
    display: flex;
    align-items: baseline;
    gap: 0 20px;
  }
  &__btns {
    display: flex;
    gap: 20px;
  }
  &__btndwn {
    outline: 1px solid lavenderblush;
    border: none;
    border-radius: 5px;
    padding: 10px;
    background-color: linen;
  }
  &__btnup {
    outline: 1px solid lavenderblush;
    border: none;
    border-radius: 5px;
    padding: 10px;
    background-color: lavenderblush;
  }
}

@media (max-width: $mobile) {
  .weatherHub {
    width: 100%;
  }
}
