.weatherHubTripList {
  display: flex;
  justify-content: space-between;
  padding-bottom: 20px;
  height: 280px;
  &__list {
    display: flex;
    list-style: none;
    flex-wrap: wrap;
    gap: 0 20px;
    margin: 0;
    padding: 0;
  }
  &__wrapper {
    display: flex;
    flex-direction: column;
  }
}

.addTrip {
  background-color: #f2f4f8;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 158px;
  height: 146px;

  &__button {
    border: none;
    outline: none;
    background-color: inherit;
  }
  &__text {
    font-weight: 700;
  }
}

.buttons {
  display: flex;
  justify-content: center;
  gap: 20px;
}

.prevbtn,
.nextbtn {
  outline: none;
  border: none;
  width: 60px;
  height: 30px;
  background-color: white;
  outline: 1px solid lavender;
  border-radius: 5px;
}

.mess {
  color: tomato;
}

@media (min-width: 320px) and (max-width: 767px) {
  .weatherHubTripList {
    padding-bottom: 12px;
    align-items: center;
    gap: 0 12px;
    &__wrapper {
      gap: 14px;
      width: 80%;
    }

    &__list {
      gap: 0 8px;
      flex-wrap: nowrap;
    }
  }
  .addTrip {
    width: 50px;
    height: 70px;
    color: inherit;
    outline: 1px solid lightgray;
    border-radius: 5px;

    &__button {
      padding: 8px;
      padding-top: 0;
      color: inherit;
    }
    &__text {
      font-size: 12px;
    }
  }
}

@media (min-width: 768px) and (max-width: 1199px) {
  .weatherHubTripList {
    gap: 0 12px;
    &__list {
      flex-wrap: nowrap;
      gap: 0 12px;
    }
    &__wrapper {
      width: 80%;
    }
  }
}
