.dailyPanel {
  min-height: 600px;
  // outline: 1px solid greenyellow;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 160px;
  width: 35%;
  background-image: url('./../../images/bg.jpg');
  background-repeat: no-repeat;
  background-size: cover;
}
